<% provide(:title, I18n.t(:toeicjournal)) %>
<%= render '/shared/sidebar' %>
  <div class="span9">
      <div class="center kevin-unit">
          <div id="chartdiv" class="amchart"></div>
          <div class="well-kev">
                <ul>
                <li>緑の帯があなたの目標スコアです。<%= link_to "プロフィール",   current_user %>で設定することができます。</li>
                <li>項目をクリックすることによってその項目を表示したり、消したりすることができます。</li>
               </ul>
          </div>
      </div>
  </div>
</div><!--/.sidebar row -->
</div><!--/.sidebar container -->

<script type="text/javascript">
            var chart;

    var chartData = <%= convert_to_amcharts_json(@toeictests) %>;

            AmCharts.ready(function () {
                // SERIAL CHART
                chart = new AmCharts.AmSerialChart();
                chart.dataProvider = chartData;
                chart.categoryField = "t_date";
                chart.columnWidth = 0.5 ;

                // TITLE
                chart.addTitle("TOEIC®", 15);

                // AXES
                // category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.gridAlpha = 0.1;
                categoryAxis.axisAlpha = 0;
                categoryAxis.gridPosition = "start";
                categoryAxis.boldPeriodBeginning = "false";
                categoryAxis.labelRotation = 65;


                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.stackType = "regular";
                valueAxis.gridAlpha = 0.1;
                valueAxis.axisAlpha = 0;
                valueAxis.maximum = 990
                chart.addValueAxis(valueAxis);

                // GRAPHS
                // TOEIC® Reading    
                var graph = new AmCharts.AmGraph();
                graph.title = "TOEIC®<%=t :tr_score %>";
                graph.labelText = "[[value]]";
                graph.valueField = "r_score";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#4265a6";
                graph.color = '#ffffff';
                graph.balloonText = "[[t_date]] TOEIC®<%=t :tr_score %>: [[value]]"
                chart.addGraph(graph);


                // TOEIC® Listening             
                graph = new AmCharts.AmGraph();
                graph.title = "TOEIC®<%=t :tl_score %>";
                graph.labelText = "[[value]]";
                graph.valueField = "l_score";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 1;
                graph.lineColor = "#91a6cc";
                graph.color = '#ffffff';
                graph.balloonText = "[[t_date]] TOEIC®<%=t :tl_score %>: [[value]]"
                chart.addGraph(graph);

                 // HORIZONTAL RANGE
                var guide = new AmCharts.Guide();
                guide.value = 670;
                guide.toValue = 800;
                guide.fillColor = "#00CC00";
                guide.inside = true;
                guide.fillAlpha = 0.2;
                guide.lineAlpha = 0;
                valueAxis.addGuide(guide);

                // LEGEND                  
                var legend = new AmCharts.AmLegend();
                chart.addLegend(legend);
                legend.align = "center";
                legend.rollOverGraphAlpha = 0.3
                legend.fontSize = 12
                legend.fontWeight = "bold"

                // WRITE
                chart.write("chartdiv");
            });

</script>