<% if signed_in? %>
<%= render '/shared/sidebar' %>
  <div class="span9">
     <div class="center kevin-unit"> 
         <div id="chartdiv" class="amchart"></div>
     </div>
  </div>  
</div><!--/.sidebar row -->
</div><!--/.sidebar container -->
<% else %>

<div class="center frontpage-unit">

    

<div class="carousel-holder"> 
   <title>BiFluent</title>
    
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                   <div class"kev"><%= image_tag("BiFluent_Home_Large1.png", alt: "BiFluent: 自分の英語試験のスコアを入れて") %>
                   </div>
                   <div class="main_button">
      <%= link_to I18n.t(:start), signup_path, class: "btn btn-large btn-primary" %>
      </div>
 </div>
                <div class="item">
                    <div class"kev"><%= image_tag("BiFluent_Home_Large4.png", alt: "BiFluent: 自分の英語試験のスコアを入れて") %>
                    </div>
                </div>    

               
                <div class="item">
                    <div class"kev"><%= image_tag("BiFluent_Home_Large2.png", alt: "BiFluent: 月毎にBiFluentのチェックテストを受けて") %>
                    </div>
                </div>    
                <div class="item">
                    <div class"kev"><%= image_tag("BiFluent_Home_3.png",alt: "BiFluent: 簡単で見やすい勉強史と上達を確認できます。") %>
                    </div>
                </div>
            </div>
            
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>


<div class"kev"><%= image_tag("testimonial.png", alt: "") %>
                   </div>

      </div>

<% end %> 

<script type="text/javascript">
            var chart;

            var chartData = [{
                skill: "Sentence Structure",
                score: 5
            }, {
                skill: "Grammar",
                score: 3.2
            }, {
                skill: "Pronunciation",
                score: 6
            }, {
                skill: "Vocabulary",
                score: 4.5
            }, {
                skill: "Listening",
                score: 7.2
            }, {
                skill: "Accuracy",
                score: 6.1
            }, {
            skill: "Quick Response",
                score: 8.1
            }, {
            skill: "Fluency",
                score: 6.6
            }];

            AmCharts.ready(function () {
                // RADAR CHART
                chart = new AmCharts.AmRadarChart();
                chart.dataProvider = chartData;
                chart.categoryField = "skill";
                chart.startDuration = 1;

                // TITLE
                chart.addTitle("My BiFluent", 15);

                // VALUE AXIS
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.fillAlpha = 0.05;
                valueAxis.axisAlpha = 0.15;
                valueAxis.fillColor = "#000000";
                valueAxis.dashLength = 3;
                valueAxis.minimum = 0;
                valueAxis.gridCount = 5;
                chart.addValueAxis(valueAxis);

                // GRAPH
                var graph = new AmCharts.AmGraph();
                graph.fillAlphas = 0.4;
                graph.fillColor = "#7fc837";
                graph.valueField = "score";
                graph.bullet = "round";
                graph.balloonText = "BiFluent Score: [[value]]"
                chart.addGraph(graph);

                // WRITE
                chart.write("chartdiv");
            });
</script>