<% if signed_in? %>
<div class="center hero-unit"> 
  <div class="row">
    <aside class="span4">
      <section>
        <%= link_to "Input New Test Score", toeic_input_path, class: "btn btn-large btn-primary" %>
      </section>
    </aside>
  </div>  
</div>
<% else %>

<div class="center hero-unit">
 
 <h1><%=t :welcome %></h1>
 <h2>自分の英語の<strong>学習経過</strong>や<strong>成績推移</strong>を確認できます。</h2>

<%= link_to I18n.t(:free_trial), signup_path, class: "btn btn-large btn-primary" %>





   <title>testapp</title>
    
        <h2>Example carousel</h2>
        <p>Watch the slideshow below.</p>
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                   <%= image_tag("Left.png", alt: "Step 1") %>
                    <div class="carousel-caption">
                        <h4>ポイント１</h4>
                        <p>月毎にBiFluentのチェックテストを受けて</p>
                    </div>
                </div>
                <div class="item">
                    <%= image_tag("Middle.png", alt: "Step 2") %>
                    <div class="carousel-caption">
                        <h4>ポイント２</h4>
                        <p>月毎にBiFluentのチェックテストを受けて</p>
                    </div>
                </div>
                <div class="item">
                  <%= image_tag("Right.png", alt: "Step 3") %>
                    <div class="carousel-caption">
                        <h4>ポイント３</h4>
                        <p>簡単で見やすい勉強史と上達を確認できます。</p>
                    </div>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>

</div>
<% end %> 






