<% provide(:title, @user.name) %>
<div class="container">
<div class="center kevin-unit">
<div class="row">
  　<div class="span2">
  
        <%= gravatar_for @user %>
  　</div>
    <div class="span5">
      <h1><%= @user.name %></h1>
    　　あなたが「BiFluent」をはじめてから<b><%= time_ago_in_words(
    @user.created_at) %></b>です。
  　</div>
</div>
</div>
</div>


<div class="center kevin-unit">
　<ul class="nav nav-tabs">
　<li class="active"><a href="#home" data-toggle="tab"><i class="icon-home"></i> ホーム</a></li>
　<li><a href="#bifluent" data-toggle="tab"><i class="icon-leaf"></i> BiFluent</a></li>
  <li><a href="#toeic" data-toggle="tab">TOEIC®</a></li>
  <li><a href="#step" data-toggle="tab">STEP 英検</a></li>
  <li><a href="#toefli" data-toggle="tab">TOEFL® iBT</a></li>
  <li><a href="#toeflp" data-toggle="tab">TOEFL® pBT</a></li>
  <li><a href="#casec" data-toggle="tab">CASEC</a></li>
  <li><a href="#ielts" data-toggle="tab">IELTS</a></li>
　　　　　</ul>
 
　<div class="tab-content">
  　<div class="tab-pane active" id="home">TOEIC Tests (<%= @user.toeictests.count %>) CASEC Tests (<%= @user.casecs.count %>)
  </div>
  　<div class="tab-pane" id="bifluent">BiFluent</div>
  　<div class="tab-pane" id="toeic"><%= render 'toeic_p' %></div>
 　 <div class="tab-pane" id="step">Step</div>
 　 <div class="tab-pane" id="toefli"><%= render 'toefli_p' %></div>
    <div class="tab-pane" id="toeflp"></div>
　　<div class="tab-pane" id="casec"><%= render 'casec_p' %></div>
　　<div class="tab-pane" id="ielts">ielts</div>
 </div>

</div>



