<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <div class="btn-toolbar">
                  <%= link_to "BiFluentのテスト", "#", class: "btn btn-danger" %>
                  </br>
                  <div class="btn-group"> 
                  <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#">
                  スコアを入れて
                  <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                  <li><%= link_to 'TOEIC®', toeic_input_path %></li>
                  <li><%= link_to 'STEP 英検', eiken_input_path %></li>
                  <li><%= link_to 'TOEFL® iBT', toefli_input_path %></li>
                  <li><%= link_to 'CASEC', casec_input_path %></li>
                  <li><%= link_to 'IELTS', ielt_input_path %></li>
                  <li><%= link_to 'TOEIC® Bridge', bridge_input_path %></li>
                  <li><%= link_to 'TOEIC® SW', toeicsw_input_path %></li>
                  </ul>
                  </div>
                  </div>
              <li class="nav-header">勉強手帳</li>
              <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "BiFluent", root_path %></li>
              <li class="<%= 'active' if current_page?(toeic_journal_path) %>"><%= link_to "TOEIC®", toeic_journal_path %></li>
              <li class="<%= 'active' if current_page?(eiken_journal_path) %>"><%= link_to "STEP 英検", eiken_journal_path %></li>
              <li class="<%= 'active' if current_page?(toefli_journal_path) %>"><%= link_to "TOEFL® iBT", toefli_journal_path %></li>
              <li class="<%= 'active' if current_page?(casec_journal_path) %>"><%= link_to "CASEC", casec_journal_path %></li>
              <li class="<%= 'active' if current_page?(ielt_journal_path) %>"><%= link_to "IELTS", ielt_journal_path %></li>
              <li class="<%= 'active' if current_page?(bridge_journal_path) %>"><%= link_to "TOEIC® Bridge", bridge_journal_path %></li>
              <li class="<%= 'active' if current_page?(toeicsw_journal_path) %>"><%= link_to "TOEIC® SW", toeicsw_journal_path %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->