<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

<div class="container">
	      <div class="row">
              <div class="span3">
        	    <div class="well">
                <%= image_tag("BigB2.png", alt: "BiFluent 'B' logo") %>
                </div>
              </div>
              <div class="span9">
               <div class="well">
               	 <h1>TOEFL® iBT</h1>
                 <%= form_for(@toefli) do |f| %>
                 <%= render 'shared/error_messages', object: f.object %>
                 <div class="span3">
                 <p><label for="date"><%=t :test_date %></label></p> 
                 <%= f.datepicker :toefli_date %>
                 </div>
                 <div class="span5">
                 <p><label for="toefli_one">TOEFL® iBT Reading:</label></p>
                 <div id="slider_toeflione" class="slider"></div>
	             <div id="toefli_one" class="slider_num">20</div>
	             <p><label for="toefli_two">TOEFL® iBT Writing:</label></p>
                 <div id="slider_toeflitwo"></div>
                 <div id="toefli_two" class="slider_num" />20</div>
                 <p><label for="toefli_three">TOEFL® iBT Listening:</label></p>
                 <div id="slider_toeflithree"></div>
                 <div id="toefli_three" class="slider_num" />20</div>
                 <p><label for="toefli_four">TOEFL® iBT Speaking:</label></p>
                 <div id="slider_toeflifour"></div>
                 <div id="toefli_four" class="slider_num" />20</div>
             </div>
                 <%= f.hidden_field :toefli_r %>
                 <%= f.hidden_field :toefli_w %>
                 <%= f.hidden_field :toefli_l %>
                 <%= f.hidden_field :toefli_s %>
                 <div class="center"><%= f.submit "TOEFL® iBT Input", class: "btn btn-large btn-primary" %></div>
                 <% end %>
                </div>
              </div> 
           </div>
</div>

<script>
$(document).ready(function() {
	$(function() {
		$( "#slider_toeflione" ).slider({
			value: 20,
			min: 0,
			max: 30,
			step: 1,
			slide: function( event, ui ) {
				$( "#toefli_one" ).html( ui.value );
			},

			change: function(event, ui) {
            $('input#toefli_toefli_r').val(ui.value);
            }
		});
		$( "#toefli_one" ).val( $( "#slider_toeflione" ).slider( "value" ) );
	});

	$(function() {
		$( "#slider_toeflitwo" ).slider({
			value: 20,
			min: 0,
			max: 30,
			step: 1,
			slide: function( event, ui ) {
				$( "#toefli_two" ).html( ui.value );
			},

			change: function(event, ui) {
            $('input#toefli_toefli_w').val(ui.value);
            }
		});
		$( "#toefli_two" ).val( $( "#slider_toeflitwo" ).slider( "value" ) );
	});

	$(function() {
		$( "#slider_toeflithree" ).slider({
			value: 20,
			min: 0,
			max: 30,
			step: 1,
			slide: function( event, ui ) {
				$( "#toefli_three" ).html( ui.value );
			},

			change: function(event, ui) {
            $('input#toefli_toefli_l').val(ui.value);
            }
		});
		$( "#toefli_three" ).val( $( "#slider_toeflithree" ).slider( "value" ) );
	});

	$(function() {
		$( "#slider_toeflifour" ).slider({
			value: 20,
			min: 0,
			max: 30,
			step: 1,
			slide: function( event, ui ) {
				$( "#toefli_four" ).html( ui.value );
			},

			change: function(event, ui) {
            $('input#toefli_toefli_s').val(ui.value);
            }
		});
		$( "#toefli_four" ).val( $( "#slider_toeflifour" ).slider( "value" ) );
	});

	$(function() {
		$( "#datepicker" ).datepicker();
		$.datepicker.regional['ja'] = {
		closeText: '閉じる',
		prevText: '&#x3c;前',
		nextText: '次&#x3e;',
		currentText: '今日',
		monthNames: ['1月','2月','3月','4月','5月','6月',
		'7月','8月','9月','10月','11月','12月'],
		monthNamesShort: ['1月','2月','3月','4月','5月','6月',
		'7月','8月','9月','10月','11月','12月'],
		dayNames: ['日曜日','月曜日','火曜日','水曜日','木曜日','金曜日','土曜日'],
		dayNamesShort: ['日','月','火','水','木','金','土'],
		dayNamesMin: ['日','月','火','水','木','金','土'],
		weekHeader: '週',
		dateFormat: 'yy/mm/dd',
		firstDay: 0,
		isRTL: false,
		showMonthAfterYear: true,
		yearSuffix: '年'};
	$.datepicker.setDefaults($.datepicker.regional['ja']);
	});
});
</script>
