<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

<div class="container">
	      <div class="row">
              <div class="span3">
        	    <div class="well">
                <%= image_tag("BigB2.png", alt: "BiFluent 'B' logo") %>
                </div>
              </div>
              <div class="span9">
               <div class="well">
               	 <h1>TOEIC® SW</h1>
                 <%= form_for(@toeicsw) do |f| %>
                 <%= render 'shared/error_messages', object: f.object %>
                 <div class="span3">
                 <p><label for="date"><%=t :test_date %></label></p> 
                 <%= f.datepicker :toeicsw_date %>
                 </div>
                 <div class="span5">
                 <p><label for="amount_swone">TOEIC® SWのスピーキングスコア:</label></p>
                 <div id="slider_swone" class="slider"></div>
	             <div id="amount_swone" class="slider_num">150</div>
	             <p><label for="amount_swtwo">TOEIC® SWのライティングスコア:</label></p>
                 <div id="slider_swtwo"></div>
                 <div id="amount_swtwo" class="slider_num" />150</div>
             </div>
                 <%= f.hidden_field :toeicsw_s %>
                 <%= f.hidden_field :toeicsw_w %>
                 <div class="center"><%= f.submit I18n.t(:input_toeicsw), class: "btn btn-large btn-primary" %></div>
                 <% end %>
                </div>
              </div> 
           </div>
</div>

<script>
$(document).ready(function() {
	$(function() {
		$( "#slider_swone" ).slider({
			value: 150,
			min: 0,
			max: 200,
			step: 10,
			slide: function( event, ui ) {
				$( "#amount_swone" ).html( ui.value );
			},

			change: function(event, ui) {
            $('input#toeicsw_toeicsw_s').val(ui.value);
            }
		});
		$( "#amount_swone" ).val( $( "#slider_swone" ).slider( "value" ) );
	});

	$(function() {
		$( "#slider_swtwo" ).slider({
			value: 150,
			min: 0,
			max: 200,
			step: 10,
			slide: function( event, ui ) {
				$( "#amount_swtwo" ).html( ui.value );
			},

			change: function(event, ui) {
            $('input#toeicsw_toeicsw_w').val(ui.value);
            }
		});
		$( "#amount_swtwo" ).val( $( "#slider_swtwo" ).slider( "value" ) );
	});

	$(function() {
		$( "#datepicker" ).datepicker();
		$.datepicker.regional['ja'] = {
		closeText: '閉じる',
		prevText: '&#x3c;前',
		nextText: '次&#x3e;',
		currentText: '今日',
		monthNames: ['1月','2月','3月','4月','5月','6月',
		'7月','8月','9月','10月','11月','12月'],
		monthNamesShort: ['1月','2月','3月','4月','5月','6月',
		'7月','8月','9月','10月','11月','12月'],
		dayNames: ['日曜日','月曜日','火曜日','水曜日','木曜日','金曜日','土曜日'],
		dayNamesShort: ['日','月','火','水','木','金','土'],
		dayNamesMin: ['日','月','火','水','木','金','土'],
		weekHeader: '週',
		dateFormat: 'yy/mm/dd',
		firstDay: 0,
		isRTL: false,
		showMonthAfterYear: true,
		yearSuffix: '年'};
	$.datepicker.setDefaults($.datepicker.regional['ja']);
	});
});
</script>