<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

<div class="row-fluid">
<%= form_for(@toeictest) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<div class="span12">
  <div class="span4">
<p><label for="date"><%=t :test_date %></label></p> 
    <%= f.datepicker :t_date %>
    </div>
</div>
    <br>
<div class="span8">
    <p><label for="amount_r">TOEIC®のリーディングスコア (5点の刻み値):</label></p>
    <div id="slider_r"></div>
</div>
    <div class="span4">
	<div id="amount_r" style="border: 0px solid #000000; color:#7e7f7e; font-size: 30px; font-weight:bold; background-color:transparent;" />200</div>
</div>
    <br>
<div class="span8">
<p><label for="amount_l">TOEIC®のリスニングスコア (5点の刻み値):</label></p>
    <div id="slider_l"></div>
    <div id="amount_l" style="border:0; color:#7e7f7e; font-weight:bold;" />200</div>
</div>
    <br>
 <div class="span12">
    <%= f.hidden_field :r_score %>
    <%= f.hidden_field :l_score %>
    <%= f.submit I18n.t(:input_toeic), class: "btn btn-large btn-primary" %>
</div>
<% end %>
<%= image_tag("BigB2.png", alt: "BiFluent 'B' logo") %>
</div>
	<script>
$(document).ready(function() {
	$(function() {
		$( "#slider_r" ).slider({
			value: 200,
			min: 5,
			max: 495,
			step: 5,
			slide: function( event, ui ) {
				$( "#amount_r" ).html( ui.value );
			},

			change: function(event, ui) {
            $('input#toeictest_r_score').val(ui.value);
            }
		});
		$( "#amount_r" ).val( $( "#slider_r" ).slider( "value" ) );
	});

	$(function() {
		$( "#slider_l" ).slider({
			value: 200,
			min: 5,
			max: 495,
			step: 5,
			slide: function( event, ui ) {
				$( "#amount_l" ).html( ui.value );
			},

			change: function(event, ui) {
            $('input#toeictest_l_score').val(ui.value);
            }
		});
		$( "#amount_l" ).val( $( "#slider_l" ).slider( "value" ) );
	});

	$(function() {
		$( "#datepicker" ).datepicker();
		$.datepicker.regional['ja'] = {
		closeText: '閉じる',
		prevText: '&#x3c;前',
		nextText: '次&#x3e;',
		currentText: '今日',
		monthNames: ['1月','2月','3月','4月','5月','6月',
		'7月','8月','9月','10月','11月','12月'],
		monthNamesShort: ['1月','2月','3月','4月','5月','6月',
		'7月','8月','9月','10月','11月','12月'],
		dayNames: ['日曜日','月曜日','火曜日','水曜日','木曜日','金曜日','土曜日'],
		dayNamesShort: ['日','月','火','水','木','金','土'],
		dayNamesMin: ['日','月','火','水','木','金','土'],
		weekHeader: '週',
		dateFormat: 'yy/mm/dd',
		firstDay: 0,
		isRTL: false,
		showMonthAfterYear: true,
		yearSuffix: '年'};
	$.datepicker.setDefaults($.datepicker.regional['ja']);
	});
});
	</script>


