<div class="center hero-unit">
<%= form_for @message, :url => contact_path do |f| %>

      <%= f.label t(:namef) %>
      <%= f.text_field :name %>
   
      <%= f.label t(:emailf) %>
      <%= f.text_field :email %>

      <%= f.label t(:subjectf) %>
      <%= f.text_field :subject %>
  
      <%= f.label t(:bodyf) %>
      <%= f.text_area :body %>
 
      <%= f.submit t(:send), :class => "btn btn-large btn-primary" %>
<% end %>
</div>