<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
     <%= link_to logo, root_path , id: "logo" %> 
      <nav>
        <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li><%= link_to t(:pricing), pricing_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to t(:principles), principles_path %></li>
          <li class="divider-vertical"></li>
          <%# if signed_in? %>
          <li id="fat-menu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=t :account %><b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><%= link_to t(:profile), "#" %></li>
          <li><%= link_to t(:settings), "#" %></li>
          <li class="divider"></li>
          <li><%= link_to t(:signout), "#", method: "delete" %></li>
          </ul>
          </li>
          <%# else %>
          <li><%= link_to t(:signin), "#" %></li>
          <%# end %>
          <li class="divider-vertical"></li>
        </ul>
      </nav>
    </div>
  </div>
</header>